*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#bdc3c7 ,#2c3e50);
    padding: 10px;
  
}

.todoapp{
    width: 100%;
    margin: 100px auto 20px ;
    max-width: 540px;
    padding: 40px 30px 70px;
    background:#ffff;
    border-radius: 10px;
    
    

}

.todoapp h1{
    color: rgb(77, 86, 180);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    
    
}

.todoapp h1 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(235, 236, 243);
    border-radius: 30px;
    
}
.row input{
    
    border: none;
    outline: none;
    border-radius: 30px;
    background: transparent;
    flex: 1;
    padding: 10px;
    
}
.row button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li{

    list-style: none;
    font-size: 17px;
    padding: 20px 20px 10px 50px;
    cursor: pointer;
    user-select: none;
    position:relative
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center ;
    left: 8px;
    top: 17px;



}
ul li.checked{
    text-decoration: line-through;
    color: #555;

}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0px;
    top: 13px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    color: #ff5945;
    background: rgb(219, 220, 222) ;
    
}


